<div class="pageHeader_tikTok">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <a href="#">
                    <img
                        src="https://sf16-scmcdn-sg.ibytedtos.com/goofy/tiktok/web/node/_next/static/images/logo-whole-c555aa707602e714ec956ac96e9db366.svg">
                </a>
            </div>
            <div class="flex-fill">
                <div class="search_tikTok">
                    <input type="text" class="search_tikTok_input form-control" placeholder="Search accounts">
                    <span class="search_tikTok_span"></span>
                    <span class="search_tikTok_icon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a href="#" class="btn btn-default">Upload</a>
                <div class="btn btn-danger">Log In</div>
                <div class="btn btn-default">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
        </div>
    </div>
</div>