/*
Autor: @fenixbinario
*/
.pageHeader_tikTok
{
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    padding: 5px 0;
}

a
{
  text-decoration: none;
    color: #000;
}

ul
{
    list-style: none;
    padding-left: 0;
}

.text-pink
{
    color: #fe2c55;
}

.text-blue
{
    color: rgb(32, 213, 236);
}

.btn-danger
{
    background-color: #fe2c55 !important;
    border-color: #fe2c55 !important;
}

.btn-outline-danger
{
    border-color: #fe2c55 !important;
    color: #fe2c55;
}

.btn-outline-danger:hover, .btn-danger:hover
{
    background-color: #fe2c55 !important;
}

.search_tikTok
{
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(22, 24, 35, .06);
    max-width: 50%;
    margin: auto;
}

.search_tikTok_span
{
    width: 1px;
    height: 28px;
    margin: -3px 0;
    background: rgba(22, 24, 35, .12);
}
.fa-search
{
    color: #adadad;
}
.search_tikTok_input
{
    border: none;
    border-radius: 20px;
    background-color: transparent;
}

.search_tikTok_input:hover, .search_tikTok_input:active, .search_tikTok_input:focus
{
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.search_tikTok_icon
{
    display: block;
    padding: 10px;
}

.suggestedAccountIcon
{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-right: 10px;
}

.actions_tikTok
{
    width: 50px;
    height: 50px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 100%;
}

.tikTok_screen_img
{
    height: 700px;
    border-radius: 10px;
}

.ms-3
{
    margin-left: 4.3rem!important;
}

.my-5 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

.mb-5 {
    margin-bottom: 3rem!important;
    margin-left: 2rem!important;
    margin-right: 2rem!important;
}